:root {
    --triangle-px: 180px;
    --triangle-degrees: 45deg;
  }

img{
    width: 150px;
}

footer img {
    width: 75px;
}

.idiomas img{
    width: 250px;
}

.softwares img{
    margin-bottom: 10px;
}

.invert {
    filter: invert(100%);
}

.whiten {
    filter: brightness(0) invert(1);
}

@media (max-width: 768px) {
    .header-img-wrapper {
        text-align: center;
      margin: 0 auto; /* Centra horizontalmente la imagen */
    }
  }